Repository meck122/jDuel: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, tsc

.pre-commit-config.yaml:

# Pre-commit hooks for FastAPI + React monorepo
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: ^frontend/(package-lock\.json|yarn\.lock|pnpm-lock\.yaml)$
      - id: end-of-file-fixer
        exclude: ^frontend/(package-lock\.json|yarn\.lock|pnpm-lock\.yaml)$
      - id: check-yaml
        args: ['--unsafe'] # Allow custom YAML tags
      - id: check-json
        exclude: ^frontend/tsconfig\.json$ # TSConfig allows comments
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending
        args: ['--fix=lf']

  # Python: Ruff (linting + formatting)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      # Run the linter
      - id: ruff
        args: [--fix]
        files: ^backend/
      # Run the formatter
      - id: ruff-format
        files: ^backend/

  # Python: Type checking with mypy
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.13.0
    hooks:
      - id: mypy
        files: ^backend/src/
        args: [--ignore-missing-imports, --no-strict-optional]
        additional_dependencies:
          - types-requests

  # Frontend: Prettier (formatting)
  - repo: local
    hooks:
      - id: prettier
        name: Prettier
        entry: bash -c 'cd frontend && npx prettier --write "${@#frontend/}"' --
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|css|json|md|yaml)$
        types: [file]

  # Frontend: ESLint (linting) and TypeScript checking
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: bash -c 'cd frontend && files=("${@#frontend/}") && npx eslint --fix "${files[@]}"' --
        language: system
        files: ^frontend/.*\.[jt]sx?$
        types: [file]
      - id: tsc
        name: TypeScript type check
        entry: bash -c 'cd frontend && npx tsc --noEmit'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

fe changes for game settings on side
  .pre-commit-config.yaml
  frontend/src/features/game/GameSettings/DifficultySelector.module.css
  frontend/src/features/game/GameSettings/DifficultySelector.tsx
  frontend/src/features/game/GameSettings/GameSettings.module.css
  frontend/src/features/game/GameSettings/GameSettings.tsx
  frontend/src/features/game/GameSettings/MultipleChoiceToggle.module.css
  frontend/src/features/game/GameSettings/MultipleChoiceToggle.tsx
  frontend/src/features/game/GameSettings/index.ts
  frontend/src/features/game/GameView/GameView.module.css
  frontend/src/features/game/Lobby/Lobby.module.css
  frontend/src/features/game/Lobby/Lobby.tsx
  frontend/src/features/game/Question/Question.module.css
  frontend/src/features/game/Results/Results.module.css
  frontend/src/pages/GamePage/GamePage.tsx
  frontend/src/types/index.ts
Due: prettier, eslint, tsc

add player reactions during results and game over phases
  backend/src/app/api/websocket_handler.py
  backend/src/app/config/__init__.py
  backend/src/app/config/game.py
  backend/src/app/models/game.py
  backend/src/app/models/websocket_messages.py
  backend/src/app/services/orchestration/orchestrator.py
  frontend/src/contexts/GameContext.tsx
  frontend/src/features/game/GameView/GameView.tsx
  frontend/src/features/game/Reactions/Reactions.module.css
  frontend/src/features/game/Reactions/Reactions.tsx
  frontend/src/features/game/index.ts
  frontend/src/services/reactionEmitter.ts
  frontend/src/types/index.ts
Due: prettier, eslint, tsc

fix mobile UI spacing on question view to eliminate scrolling
  frontend/src/components/layout/PageContainer/PageContainer.module.css
  frontend/src/features/game/Question/Question.module.css
Due: prettier

fix backend bugs: context managers, bounds checks, error responses, race condition
  backend/src/app/api/routes.py
  backend/src/app/api/websocket_handler.py
  backend/src/app/db/database.py
  backend/src/app/services/orchestration/state_builder.py
Due: none

fix frontend bugs: dynamic question count, error handling, token cleanup
  backend/src/app/models/state.py
  backend/src/app/services/orchestration/state_builder.py
  frontend/src/contexts/GameContext.tsx
  frontend/src/features/game/Question/Question.tsx
  frontend/src/pages/GamePage/GamePage.tsx
  frontend/src/services/api.ts
  frontend/src/types/index.ts
Due: prettier, eslint, tsc

align types: server-driven reactions, remove dead RoundState.reset()
  backend/src/app/models/round_state.py
  backend/src/app/models/state.py
  backend/src/app/services/orchestration/state_builder.py
  frontend/src/features/game/Reactions/Reactions.tsx
  frontend/src/types/index.ts
Due: prettier, eslint, tsc

rewrite CLAUDE.md with skills reference, testing section, and doc links
  CLAUDE.md
Due: none

consolidate deployment docs and trim FrontendFlow
  docs/Deployment.md
  docs/DeploymentGuide.md
  docs/FrontendFlow.md
  docs/GettingStarted.md
  docs/HTTPS.md
  docs/Nginx.md
  docs/SystemD.md
  docs/ramUsage.txt
Due: none

add brainstorm and plan docs for repo cleanup refactor
  docs/brainstorms/2026-02-06-repo-cleanup-brainstorm.md
  docs/plans/2026-02-06-refactor-repo-cleanup-and-claude-optimization-plan.md
Due: none

fix: cache shuffled multiple choice options to prevent reordering on refresh
  backend/src/app/models/round_state.py
  backend/src/app/services/core/game_service.py
  backend/src/app/services/orchestration/state_builder.py
  backend/tests/unit/test_game_service.py
  backend/tests/unit/test_state_builder.py
  docs/plans/2026-02-07-fix-multiple-choice-options-reshuffle-on-refresh-plan.md
Due: none

docs: document backend lightweight mode with CUDA_VISIBLE_DEVICES
  CLAUDE.md
  README.md
  docs/solutions/configuration-issues/backend-lightweight-mode.md
Due: none

add claude files
  .claude/plans/memoized-conjuring-badger.md
  .claude/skills/answer-verification/SKILL.md
  .claude/skills/backend-architecture/SKILL.md
  .claude/skills/debugging-backend/SKILL.md
  .claude/skills/deployment/SKILL.md
  .claude/skills/frontend-design/SKILL.md
  .claude/skills/game-flow/SKILL.md
  .claude/skills/host-config-pattern/SKILL.md
  .claude/skills/reactions/SKILL.md
  .claude/skills/room-lifecycle/SKILL.md
  .claude/skills/testing-patterns/SKILL.md
  .claude/skills/type-system-alignment/SKILL.md
  .claude/skills/websocket-protocol/SKILL.md
  .claude/skills/ws-message-checklist/SKILL.md
  .gitignore
Due: none

feat(ui): Phase 1 - Navigation and toast foundation
  docs/plans/2026-02-08-feat-mobile-first-ui-redesign-plan.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/layout/PageContainer/PageContainer.module.css
  frontend/src/components/ui/Navigation/Navigation.tsx
  frontend/src/hooks/useRetry.ts
  frontend/src/services/api.ts
Due: prettier, eslint, tsc

feat(ui): Phase 2 - Timer variants with LinearTimer
  docs/plans/2026-02-08-feat-mobile-first-ui-redesign-plan.md
  frontend/src/components/common/LinearTimer/LinearTimer.module.css
  frontend/src/components/common/LinearTimer/LinearTimer.tsx
  frontend/src/components/common/LinearTimer/index.ts
  frontend/src/components/index.ts
  frontend/src/features/game/GameOver/GameOver.tsx
  frontend/src/features/game/Results/Results.tsx
Due: prettier, eslint, tsc

feat(ui): Phase 3 - Mobile-first Question view redesign
  docs/plans/2026-02-08-feat-mobile-first-ui-redesign-plan.md
  frontend/src/features/game/Question/Question.module.css
  frontend/src/features/game/Question/Question.tsx
  frontend/src/features/game/Question/QuestionHeader.module.css
  frontend/src/features/game/Question/QuestionHeader.tsx
Due: prettier, eslint, tsc

feat(ui): Phase 4 - Results view reordering for engagement
  docs/plans/2026-02-08-feat-mobile-first-ui-redesign-plan.md
  frontend/src/features/game/Results/Results.tsx
Due: prettier, eslint, tsc

feat(config): Phase 6 - Default multiple choice mode to ON
  backend/src/app/models/room_config.py
  docs/plans/2026-02-08-feat-mobile-first-ui-redesign-plan.md
Due: none

docs: Update plan with implementation status
  docs/plans/2026-02-08-feat-mobile-first-ui-redesign-plan.md
Due: none

fix(ui): Prevent scrolling on Question view mobile
  frontend/src/features/game/Question/Question.module.css
Due: prettier

refactor(ui): polish Question view mobile UI with professional spacing
  docs/brainstorms/2026-02-08-mobile-first-ui-redesign-brainstorm.md
  docs/plans/2026-02-08-refactor-question-view-mobile-polish-plan.md
  frontend/src/components/common/Timer/Timer.module.css
  frontend/src/components/layout/PageContainer/PageContainer.module.css
  frontend/src/features/game/GameView/GameView.module.css
  frontend/src/features/game/Question/Question.module.css
  frontend/src/features/game/Question/Question.tsx
  frontend/src/features/game/Question/QuestionHeader.module.css
  question-view-mobile-375x667.png
  question-view-mobile-v3.png
  question-view-mobile-v4.png
  question-view-mobile-v5.png
  question-view-mobile-v6.png
  question-view-polished.png
  question-view-scrolled.png
  question-view-v2.png
  results-view-mobile-v2.png
  results-view-mobile.png
Due: prettier, eslint, tsc

fix(ui): ensure mobile viewport compatibility across iPhone SE, Galaxy S20, and iPhone 14
  docs/brainstorms/2026-02-08-mobile-viewport-compatibility-fixes-brainstorm.md
  docs/plans/2026-02-08-fix-mobile-viewport-compatibility-plan.md
  frontend/src/features/game/GameOver/GameOver.module.css
  frontend/src/features/game/Question/Question.module.css
  frontend/src/features/game/Results/Results.module.css
Due: prettier

fix(ui): fix Results mobile layout and restore GameOver navbar
  docs/brainstorms/2026-02-08-results-view-mobile-fixes-brainstorm.md
  docs/plans/2026-02-08-fix-results-mobile-layout-gameover-nav-plan.md
  frontend/src/components/ui/Navigation/Navigation.tsx
  frontend/src/features/game/Results/Results.module.css
  frontend/src/pages/AboutPage/AboutPage.tsx
Due: prettier, eslint, tsc

fix(ui): move GameProvider to App level to fix Navigation crash
  docs/brainstorms/2026-02-08-fix-navigation-gameProvider-crash-brainstorm.md
  frontend/src/App.tsx
  frontend/src/pages/GamePage/GamePage.tsx
Due: prettier, eslint, tsc

feat(reconnection): add 429 rate limit retry with countdown UI
  backend/src/app/api/dependencies.py
  backend/src/app/config/game.py
  docs/brainstorms/2026-02-08-reconnection-429-handling-brainstorm.md
  docs/plans/2026-02-08-feat-reconnection-429-retry-handling-plan.md
  frontend/eslint.config.mjs
  frontend/src/hooks/index.ts
  frontend/src/hooks/useRetry.ts
  frontend/src/pages/GamePage/GamePage.module.css
  frontend/src/pages/GamePage/GamePage.tsx
  frontend/src/services/api.ts
Due: prettier, eslint, tsc

docs(skill): add mobile testing viewports to frontend-design skill
  .claude/skills/frontend-design/SKILL.md
Due: none

update front-end skill to check all mobile views
  .claude/skills/frontend-design/SKILL.md
Due: none

final fixes, timer shows
  frontend/src/components/layout/PageContainer/PageContainer.module.css
  frontend/src/features/game/GameOver/GameOver.module.css
  frontend/src/features/game/Results/Results.module.css
  frontend/src/pages/AboutPage/AboutPage.module.css
  frontend/src/pages/HomePage/HomePage.module.css
  frontend/src/styles/variables.css
Due: prettier

feat(play-again): add Play Again button to reset room to lobby
  backend/src/app/api/websocket_handler.py
  backend/src/app/models/websocket_messages.py
  backend/src/app/services/core/game_service.py
  backend/src/app/services/orchestration/orchestrator.py
  docs/EventProtocol.md
  docs/brainstorms/2026-02-11-play-again-feature-brainstorm.md
  docs/plans/2026-02-11-feat-play-again-lobby-reset-plan.md
  frontend/src/contexts/GameContext.tsx
  frontend/src/features/game/GameOver/GameOver.module.css
  frontend/src/features/game/GameOver/GameOver.tsx
Due: prettier, eslint, tsc

test(play-again): add unit and integration tests for Play Again feature
  backend/tests/integration/test_websocket.py
  backend/tests/unit/test_game_service.py
  backend/tests/unit/test_orchestrator.py
Due: none

fix(room-closed): redirect player to home page when room closes
  frontend/src/contexts/GameContext.tsx
Due: prettier, eslint, tsc

chore(deploy): add Oracle VPS migration configs
  deploy/README.md
  deploy/jduel-backend.service
  deploy/nginx/jduel
  deploy/setup.sh
Due: none

delete stuff and fix update all deploy docs for oracle vps
  .claude/plans/memoized-conjuring-badger.md
  .claude/skills/deployment/SKILL.md
  CLAUDE.md
  README.md
  backend/.python-version
  backend/src/app/config/environment.py
  deploy.sh
  deploy/README.md
  deploy/jduel-backend.service
  deploy/nginx/jduel
  deploy/setup.sh
  docs/DeploymentGuide.md
  docs/GettingStarted.md
  docs/brainstorms/2026-02-06-repo-cleanup-brainstorm.md
  docs/brainstorms/2026-02-08-fix-navigation-gameProvider-crash-brainstorm.md
  docs/brainstorms/2026-02-08-mobile-first-ui-redesign-brainstorm.md
  docs/brainstorms/2026-02-08-mobile-viewport-compatibility-fixes-brainstorm.md
  docs/brainstorms/2026-02-08-reconnection-429-handling-brainstorm.md
  docs/brainstorms/2026-02-08-results-view-mobile-fixes-brainstorm.md
  docs/brainstorms/2026-02-11-play-again-feature-brainstorm.md
  docs/brainstorms/2026-03-19-oracle-vps-migration-requirements.md
  docs/plans/2026-02-06-refactor-repo-cleanup-and-claude-optimization-plan.md
  docs/plans/2026-02-07-fix-multiple-choice-options-reshuffle-on-refresh-plan.md
  docs/plans/2026-02-08-feat-mobile-first-ui-redesign-plan.md
  docs/plans/2026-02-08-feat-reconnection-429-retry-handling-plan.md
  docs/plans/2026-02-08-fix-mobile-viewport-compatibility-plan.md
  docs/plans/2026-02-08-fix-results-mobile-layout-gameover-nav-plan.md
  docs/plans/2026-02-08-refactor-question-view-mobile-polish-plan.md
  docs/plans/2026-02-11-feat-play-again-lobby-reset-plan.md
  frontend/src/pages/HomePage/HomePage.tsx
  question-view-mobile-375x667.png
  question-view-mobile-v3.png
  question-view-mobile-v4.png
  question-view-mobile-v5.png
  question-view-mobile-v6.png
  question-view-polished.png
  question-view-scrolled.png
  question-view-v2.png
  results-view-mobile-v2.png
  results-view-mobile.png
Due: prettier, eslint, tsc

readme changes
  README.md
  deploy/README.md
  deploy/setup.sh
Due: none

ce stuff?: :
  compound-engineering.local.md
  todos/001-pending-p1-event-loop-blocking-nlp-sqlite.md
  todos/002-pending-p1-no-asyncio-lock-room-state.md
  todos/003-pending-p1-unguarded-json-parse-websocket.md
  todos/004-pending-p1-unbounded-websocket-message-size.md
  todos/005-pending-p1-rate-limiter-ip-spoofing.md
  todos/006-pending-p1-no-global-room-player-cap.md
  todos/007-pending-p1-rate-limiter-cleanup-never-called.md
  todos/008-pending-p1-non-cryptographic-room-codes.md
  todos/009-pending-p2-broadcast-dict-mutation-during-iteration.md
  todos/010-pending-p2-session-token-not-validated-at-websocket.md
  todos/011-pending-p2-nginx-missing-security-headers.md
  todos/012-pending-p2-cors-all-methods-headers.md
  todos/013-pending-p2-answers-logged-at-info-level.md
  todos/014-pending-p2-no-pre-registration-ttl.md
  todos/015-pending-p2-window-location-replace-bypasses-router.md
  todos/016-pending-p2-statebuilder-mutates-room-as-side-effect.md
  todos/017-pending-p2-difficulty-typed-as-string-not-union.md
  todos/018-pending-p2-gamecontext-value-recreated-every-render.md
  todos/019-pending-p2-handle-play-again-mutates-identity-fields.md
  todos/020-pending-p2-toctou-player-registration-race.md
  todos/021-pending-p2-gameprovider-stale-state-across-sessions.md
  todos/022-pending-p3-timer-dict-entries-not-cleaned-after-natural-expiry.md
  todos/023-pending-p3-mixed-enum-string-comparisons-orchestrator.md
  todos/024-pending-p3-homepage-inaccessible-clickable-divs.md
  todos/025-pending-p3-update-config-accepts-untyped-dict.md
Due: none

feat(backend): async NLP, per-room locks, and DoS hardening
  backend/src/app/api/dependencies.py
  backend/src/app/api/routes.py
  backend/src/app/api/websocket_handler.py
  backend/src/app/config/__init__.py
  backend/src/app/config/game.py
  backend/src/app/main.py
  backend/src/app/models/game.py
  backend/src/app/services/core/game_service.py
  backend/src/app/services/core/room_repository.py
  backend/src/app/services/orchestration/orchestrator.py
  backend/tests/unit/test_game_service.py
  backend/tests/unit/test_orchestrator.py
Due: none

fix(frontend): mobile UI polish across all game screens
  frontend/src/contexts/GameContext.tsx
  frontend/src/features/game/GameOver/GameOver.module.css
  frontend/src/features/game/GameSettings/GameSettings.module.css
  frontend/src/features/game/Lobby/Lobby.module.css
  frontend/src/features/game/Lobby/Lobby.tsx
  frontend/src/features/game/Question/Question.module.css
  frontend/src/features/game/Results/Results.module.css
  frontend/src/features/game/Results/Results.tsx
Due: prettier, eslint, tsc

fix(frontend): timer circle reset on other player answer and lobby centering on mobile
  frontend/src/components/common/LinearTimer/LinearTimer.tsx
  frontend/src/components/common/Timer/Timer.tsx
  frontend/src/features/game/Lobby/Lobby.module.css
Due: prettier, eslint, tsc

refactor(theme): Phase 1 — MUI theme foundation for sx migration
  docs/brainstorms/2026-03-31-mui-sx-migration-requirements.md
  docs/plans/2026-03-31-001-refactor-mui-sx-responsive-migration-plan.md
  frontend/src/styles/sxPatterns.ts
  frontend/src/theme.ts
Due: prettier, eslint, tsc
